---
---

@import "{{ site.theme }}";

/* Make the whole page wider */
.wrapper {
  width: 1150px;
}

/* Make the main content area wider */
section {
  width: 720px;
}

/* Keep the left sidebar stable */
header {
  width: 350px;
}

/* Make it responsive on smaller screens */
@media print, screen and (max-width: 960px) {
  .wrapper {
    width: auto;
    margin: 0;
  }

  section {
    width: auto;
  }

  header {
    width: auto;
  }
}
